<div class="card bg-primary bg-gradient">
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="display-4 text-white mb-2">Login</div>
      <div class="row">
        <div class="col-lg-3 col-12 col-md-6">
          <label for="typeahead-basic-email" class="text-white">Email</label>
          <input id="typeahead-basic-email" type="email" class="form-control bg-form" formControlName="email" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-12 col-md-6">
          <label for="typeahead-basic-prefix" class="text-white">Password</label>
          <input
            id="typeahead-basic-password"
            type="password"
            class="form-control bg-form"
            formControlName="password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <button type="button" class="btn btn-info" (click)="login()">Login</button>
          <button type="button" class="btn btn-primary" (click)="register()">Register</button>
          <p class="card-text"><small class="text-muted"><p><a class="link-offset-2 link-offset-3-hover" (click)="logout()">Don't have an account yet?</a></p></small></p>
        </div>
      </div>
    </form>
  </div>
</div>
