<div class="card bg-primary bg-gradient">
    <div class="card-body">
      <form [formGroup]="registerForm">
    <div class="display-4 text-white">Register</div>
        <div class="row">
          <div class="col-3">
            <label for="typeahead-basic-email" class="text-white">First Name</label>
            <input id="typeahead-basic-email" type="text" class="form-control bg-form" formControlName="firstName" />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="typeahead-basic-email" class="text-white">Last Name</label>
            <input id="typeahead-basic-email" type="text" class="form-control bg-form" formControlName="lastName" />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="typeahead-basic-email" class="text-white">Username</label>
            <input id="typeahead-basic-email" type="text" class="form-control bg-form" formControlName="username" />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="typeahead-basic-email" class="text-white">Email</label>
            <input id="typeahead-basic-email" type="email" class="form-control bg-form" formControlName="email" />
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="typeahead-basic-email" class="text-white">Password</label>
            <input id="typeahead-basic-email" type="password" class="form-control bg-form" formControlName="password" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-3">
            <button type="button" class="btn btn-info" (click)="register()">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  