<div class="card bg-primary bg-gradient">
  <div class="card-body">
    <div class="display-4 text-white">Generator</div>
    <form [formGroup]="generatorForm">
      <div class="row">
        <div class="col-5">
          <label for="typeahead-basic-name" class="text-white">Name</label>
          <input
            id="typeahead-basic-name"
            type="text"
            class="form-control bg-form"
            formControlName="name"
          />
        </div>
        <div class="col-4">
          <label for="typeahead-basic-prefix" class="text-white">Prefix</label>
          <input
            id="typeahead-basic-prefix"
            type="text"
            class="form-control bg-form"
            formControlName="prefix"
          />
        </div>
        <div class="col-1" (click)="copy()">
          <button type="button" class="btn btn-outline-light">
            <div class="bi bi-clipboard bi-big"></div>
          </button>
        </div>
        <div class="col-1" (click)="save()" *ngIf="isSignedIn()">
          <button type="button" class="btn btn-outline-light">
            <div class="bi bi-save bi-big"></div>
          </button>
        </div>
        <div class="col-1" (click)="share()" *ngIf="isSignedIn()">
          <button type="button" class="btn btn-outline-light">
            <div class="bi bi-share bi-big"></div>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="typeahead-basic-description" class="text-white">Description</label>
          <input
            id="typeahead-basic-description"
            type="text"
            class="form-control bg-form"
            formControlName="description"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="body" class="form-label text-white">Body</label>
          <textarea
            id="body"
            class="form-control bg-form"
            rows="15"
            formControlName="body"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
