<nav class="navbar navbar-expand-lg bg-secondary p-4" style="height: 90px;">

    <a class="navbar-brand float-left navbar-brand mb-0 h4" routerLink="">Snippeter</a>
    <a class="navbar-brand float-left" routerLink="generator">Generator</a>
    <a class="navbar-brand float-right" routerLink="snippets" *ngIf="isLoggedIn()">My Snippets</a>
    <a class="navbar-brand float-right" routerLink="profile" *ngIf="isLoggedIn()">Profile</a>
    <a class="navbar-brand float-right" routerLink="profile" *ngIf="!isLoggedIn()">Login</a>
<!-- 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Generator</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" href="profile">Profile</a>
        </li>
      </ul>
    </div> -->
</nav>

<div class="p-3">
  <router-outlet></router-outlet>
</div>
